name: Build door-window sensor custom firmware

on:
  repository_dispatch:
  workflow_dispatch:
  push:
#    branches: [ "master" ]
  pull_request:
#    branches: [ "master" ]

env:
  # 
  #BUILD_TYPE: Release
  TOOLCHAIN_DIR: ${{github.workspace}}/tc32
  #SDK_DIR: ${{github.workspace}}/telink_zigbee_sdk
  #SDK_PREFIX: ${{github.workspace}}/telink_zigbee_sdk/tl_zigbee_sdk
  ARTIFACT_DIR: ${{github.workspace}}/build/src/

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get toolchain
      run: git clone https://github.com/devbis/tc32.git -b linux --depth 1 ${{ env.TOOLCHAIN_DIR }}

    - name: Build door-window sensor
      id: TS0203-z-Sld
      run: |
        make clean
        echo TOOLCHAIN_DIR ${{env.TOOLCHAIN_DIR}}/bin/tc32
        make PROJECT_MODEL=_model_1 COMPILE_PREFIX=${{env.TOOLCHAIN_DIR }}/bin/tc32
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      if: steps.TS0203-z-Sld.outputs.status == 'success' && !cancelled()
      with:
        # Artifact name
        name: firmware
        # A file, directory or wildcard pattern that describes what to upload
        path: |
          ${{ env.ARTIFACT_DIR }}/*.bin
          ${{ env.ARTIFACT_DIR }}/*.zigbee

